@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans", serif;
}

body {
    background-color: #000;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0 30px;
}

button {
    padding: 10px;
    width: 120px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #4c0093;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

ul {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

li {
    width: 200px;
    border: 2px solid #4c0093;
    border-radius: 10px;
    text-decoration: none;
}

.img {
    width: 100%;
    height: 200px;
}

li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.product-name {
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}

.price {
    font-weight: 600;
    color: rgb(40, 175, 40);
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
}